## Connect to the DB

In [12]:
# Import libraries
from dotenv import load_dotenv
import os
import psycopg
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets
from IPython.display import display

In [13]:
# Checkwe can access environment variables
from os import environ as env

if 'readonly_user' in env:
    print(env['readonly_user'])

analyst

In [14]:
# Load environment variables
load_dotenv()
db_user = os.getenv('readonly_user')
db_password = os.getenv('readonly_user_password')
db_host = os.getenv('database_endpoint')
db_name = os.getenv('db_name')

In [15]:
# Connect to the Stack Overflow database
conn = psycopg.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password
)

In [16]:
# Define HEART metrics for Stack Overflow
heart_metrics = {
    'Happiness': 'Measure of user satisfaction and happiness with the Questions & Answers product.',
    'Engagement': 'Measure of user interaction and activity on the platform.',
    'Adoption': 'Measure of user acquisition and growth of Stack Overflow user base.',
    'Retention': 'Measure of user retention and continued usage of the platform over time.',
    'Task Success': 'Measure of user ability to accomplish their goals and tasks effectively on Stack Overflow.'
}

### Create a SQLalchemy Engine

Connect to the DB and transfer the results to `pandas` more easily for exploration.

In [17]:
from sqlalchemy import create_engine


# With the env variables loaded we can insert them into the engine connection string.
engine = create_engine(f"postgresql+psycopg://{env['readonly_user']}:{env['readonly_user_password']}@{env['database_endpoint']}/{env['db_name']}")
connection = engine.connect()

Test the DB connection engine

In [18]:
query = "SELECT * FROM users LIMIT 5"
df = pd.read_sql(query, connection)
df

,id,account_id,reputation,views,down_votes,up_votes,display_name,location,profile_image_url,website_url,about_me,creation_date,last_access_date
0,20073183,26426254,1,0,0,0,Neergaard Atkinson,None,None,https://freebetthai.com/sports/,<p>ยืนยันเบอร์ รับเครดิตฟรี Secrets</p>\n,2022-09-23 20:20:00.903,2022-09-23 21:05:37.510
1,20073184,26426255,1,0,0,0,BASAVESWARARAO NAREPALEM,None,None,None,None,2022-09-23 20:20:24.380,2023-02-24 17:13:43.183
2,20073186,26426258,1099,280,29,23,Nora Söderlund,"Vänersborg, Sweden",None,https://nora-soderlund.se,"<p>I'm a Software Developer in Sweden, current...",2022-09-23 20:20:38.347,2023-03-03 16:04:00.083
3,20073187,26426259,1,0,0,0,Sitong Zhang,None,None,None,None,2022-09-23 20:20:39.460,2022-11-21 18:37:57.433
4,20073188,26426260,1,0,0,0,Дима Раевский,None,None,None,None,2022-09-23 20:20:40.497,2022-11-11 19:47:06.410

# Engagement

Initial explortation of the data through the db schema shows there is engagement metrics to be found within the following tables:
- Users (CreationDate, LastAccessDate)
- Users (Number of users over time)
- Posts (Total number of posts over time)
- Posts (Avg number of posts per user over time)
- Comments (Total number of comments over time)
- Comment (Avg number of comments per user over time)
- Votes (Total number of votes over time)
- Votes (Avg number of votes per user over time)
- Total engagement (posts, comments, votes) over time

Questions to be answered
- Is the amount of engagment increasing or decreasing over time
- Which is the most popular way of engaging (posts, comments, votes) and how do they compare
- Are there any seasonal trends in engagement

## Initial Explortation of the Data

Initally we are interested in the following tables:
- Users
- Posts
- Comments
- Votes

So I will carry out an initial exploration of these tables and the creation_date columns as we will be using this to track the amount of engagement over time

## Users table

In [22]:
%load_ext sql

In [23]:
%sql postgresql+psycopg://{env['readonly_user']}:{env['readonly_user_password']}@{env['database_endpoint']}/{env['db_name']}

In [28]:
%%sql

SELECT *
FROM Users
LIMIT 5;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
5 rows affected.

[(20073183, 26426254, 1, 0, 0, 0, 'Neergaard Atkinson', None, None, 'https://freebetthai.com/sports/', '<p>ยืนยันเบอร์ รับเครดิตฟรี Secrets</p>\n', datetime.datetime(2022, 9, 23, 20, 20, 0, 903000), datetime.datetime(2022, 9, 23, 21, 5, 37, 510000)),
 (20073184, 26426255, 1, 0, 0, 0, 'BASAVESWARARAO NAREPALEM', None, None, None, None, datetime.datetime(2022, 9, 23, 20, 20, 24, 380000), datetime.datetime(2023, 2, 24, 17, 13, 43, 183000)),
 (20073186, 26426258, 1099, 280, 29, 23, 'Nora Söderlund', 'Vänersborg, Sweden', None, 'https://nora-soderlund.se', "<p>I'm a Software Developer in Sweden, currently in the automotive industry.</p>\n", datetime.datetime(2022, 9, 23, 20, 20, 38, 347000), datetime.datetime(2023, 3, 3, 16, 4, 0, 83000)),
 (20073187, 26426259, 1, 0, 0, 0, 'Sitong Zhang', None, None, None, None, datetime.datetime(2022, 9, 23, 20, 20, 39, 460000), datetime.datetime(2022, 11, 21, 18, 37, 57, 433000)),
 (20073188, 26426260, 1, 0, 0, 0, 'Дима Раевский', None, None, None, None, datetime.datetime(2022, 9, 23, 20, 20, 40, 497000), datetime.datetime(2022, 11, 11, 19, 47, 6, 410000))]

In [25]:
%%sql

SELECT COUNT(Id)
FROM Users;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(19942787,)]

There are close to 20 million recorded users

In [27]:
%%sql

SELECT *
FROM Users
WHERE users.creation_date IS NULL;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
0 rows affected.

[]

There are no missing values in the creation_date column

In [31]:
%%sql

SELECT *
FROM Users
WHERE users.last_access_date IS NULL;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
0 rows affected.

[]

There are no missing values in the last_access_date column

## Posts Table

In [43]:
%%sql

SELECT *
FROM Posts
LIMIT 1;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(10795882, 1423205, None, 1, None, 1, None, 196, 1, 0, None, None, 'google authentication in rhomobile', '<rhomobile><rhodes>', 'CC BY-SA 3.0', '<p>I am new to rhomobile and i am trying to develop an application where i need to authenticate  google account ids for accessing the application.</p ... (1034 characters truncated) ... y"=>"0"}, "post"=>"complete"}</p>\n\n<p>Can anyone please help me how to proceed. Or is there some other kind of authentication that i can use?</p>\n', None, datetime.datetime(2012, 5, 29, 8, 49, 6, 597000), None, None, None, datetime.datetime(2013, 4, 11, 9, 41, 21, 900000))]

In [44]:
%%sql

SELECT count(id)
FROM Posts;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(57721548,)]

There are 57'721'548 posts stored in the table

In [45]:
%%sql

SELECT *
FROM Posts
WHERE creation_date IS NULL;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
0 rows affected.

[]

## Comments Table

In [33]:
%%sql

SELECT *
FROM Comments
LIMIT 5;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
5 rows affected.

[(10, 45651, 242, 6, 'CC BY-SA 2.5', None, 'It will help if you give some details of which database you are using as techniques vary.', datetime.datetime(2008, 9, 6, 13, 38, 23, 647000)),
 (12, 47428, 4642, 3, 'CC BY-SA 2.5', None, "One of the things that make a url user-friendly is 'discover-ability', meaning you can take a guess at url's simply from the address bar. http://i.love.pets.com/search/cats+dogs could easily lead to http://i.love.pets.com/search/pug+puppies etc", datetime.datetime(2008, 9, 6, 13, 51, 47, 843000)),
 (14, 47481, 4642, 0, 'CC BY-SA 2.5', None, 'I agree, both CodeRush and RefactorPro are visually impressive (most of which can be turned off BTW), but for navigating and refactoring Resharper is much better in my opinion of using both products.', datetime.datetime(2008, 9, 6, 14, 15, 46, 897000)),
 (15, 47373, 2495, 0, 'CC BY-SA 2.5', None, "Just wanted to mention that this is an excellent solution if you consider the problem to be linear (i.e. treating `A1B2` as a single number). I still think the problem is multi-dimensional, but I guess we'll just have to wait for the author to clarify :)", datetime.datetime(2008, 9, 6, 14, 30, 40, 217000)),
 (16, 47497, 4642, 1, 'CC BY-SA 2.5', None, "Indeed, the only way to do this is get the server to generate your CSS file which can be done in many ways depending on which language you are using. HttpHandlers are common in C#.  You could use jQuery or the likes to add styling to every element with the class 'ourColur' and parametrise your JS", datetime.datetime(2008, 9, 6, 14, 42, 35, 303000))]

In [38]:
%%sql

SELECT count(id)
FROM Comments;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(88222951,)]

There are 88'222'951 comments stored in the dataset

In [39]:
%%sql

SELECT count(id)
FROM Comments
WHERE creation_date IS NULL;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(0,)]

There are no null values in the creation_date column

## Votes table

In [47]:
%%sql

SELECT *
FROM Votes
LIMIT 5;

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
5 rows affected.

[(237856, None, 88541, 2, None, datetime.datetime(2008, 9, 18, 0, 0)),
 (237857, None, 85613, 2, None, datetime.datetime(2008, 9, 18, 0, 0)),
 (237859, None, 75994, 2, None, datetime.datetime(2008, 9, 18, 0, 0)),
 (237864, None, 58650, 2, None, datetime.datetime(2008, 9, 18, 0, 0)),
 (237865, None, 84556, 2, None, datetime.datetime(2008, 9, 18, 0, 0))]

In [48]:
%%sql

SELECT count(id)
FROM Votes

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(228077281,)]

In [49]:
%%sql

SELECT count(id)
FROM Votes
WHERE creation_date IS NULL

 * postgresql+psycopg://analyst:***@terraform-20231114113407120500000001.cfmnnswnfhpn.eu-west-2.rds.amazonaws.com/stackoverflow
1 rows affected.

[(0,)]

There 228'077'281 votes and no null values in the creation_date column

## Initial Exploration of the data Conclusions

We are dealing with very large datasets with millions of entries. 

Initially we are interested in the creation_date column, I found no missing values in this column in any of the 4 tables so there is no cleaning of the data required at this point